@use'_variables.scss' as v;
@use'_mixins.scss' as m;
@use'_placeholders.scss' ;

.deals{
    height: 510px;
    background-color: v.$color_whitesmooth;

    &-info{
        height: 300px;
        @include m.d-flex(center,center,nowrap,column,0,42px);

        &__title{
            padding: 80px 0 0 0;
            @include m.font(24px,400,v.$color_brow);
        }

        &__description{
            width: 1100px;
            @include m.font(60px,800,v.$color_brow);
            white-space: wrap;

            @media (max-width:v.$media_xl){
                @include m.font(30px,800,v.$color_brow);
                width: 600px;
        }
            @media (max-width:v.$media_sm){
                width: 100%;
                text-align: center;
                padding: 0 10px 0 10px;
                @include m.font(24px,600,v.$color_brow);

        }
            @media (max-width:v.$media_min){
                @include m.font(28px,600,v.$color_brow);
                width: 380px;
        }
        }
    }

    &-contact{
        @include m.d-flex(center,center,nowrap,row,0,0);
        padding: 42px 0 0 0;
        &__email{
            width: 500px;
            border: none;
            height: 80px;
            padding: 0 0 0 30px;
            border-radius: 10px 0 0 10px;
            @include m.font(30px,400,v.$color_black);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
            

            @media (max-width:v.$media_sm){
                
                width: 300px;
                height: 60px;
                padding: 0;
        }
            @media (max-width:v.$media_min){
                width: 300px;
                height: 60px;
                padding: 0;
        }
            

            &::placeholder{
            @media (max-width:v.$media_sm){
            @include m.font(25px,300,v.$color_grey);
        }
            @media (max-width:v.$media_mini){
                text-align: center;
            @include m.font(20px,300,v.$color_grey);
        }
        
            }
        }
        
        &__button{
            width: 80px;
            height: 80px;
            border: none;
            cursor: pointer;
            border-radius: 0 10px 10px 0;
            background-color: v.$color_lime;
            @include m.d-flex(center,center);
            transition: 0.3s ease;
            &:hover{
                background-color: v.$color_peach;
                box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);

            }
            


            &-icon{
                width: 30px;
                height: 20px;
                        @include m.d-flex(center,center);

            }

            @media (max-width:v.$media_sm){
                width: 60px;
                height: 60px;
        }
        }

    }
}