$color_black:black;
$color_grey:grey;
$color_white:white;
$color_brow:#2F241F;
$color_lightbrow:#817253;
$color_darkbrow:#553B33;
$color_lime:#E5F0B6;
$color_peach:#ffc7a6;
$color_lemon:#ffec99;


$media_xxl:1440px;
$media_xl:1200px;
$media_lg:992px;
$media_md:768px;
$media_sm:576px;
$media_min:428px;